# CHI-SQUARE TEST

In [1]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 6E82-34BE

 Directory of C:\Users\KUMAR SANU\Assignment\Hypothesis Testing

21-03-2021  10:43    <DIR>          .
21-03-2021  10:43    <DIR>          ..
11-03-2021  17:54    <DIR>          .ipynb_checkpoints
10-03-2021  11:07            20,409 Buyer ratio.ipynb
09-03-2021  09:31                87 BuyerRatio.csv
09-03-2021  09:31            13,423 Costomer+OrderForm.csv
21-03-2021  10:43            27,105 Customer+order form.ipynb
09-03-2021  10:48               523 Cutlets.csv
09-03-2021  12:52            30,939 Cutlets.mtw.ipynb
21-03-2021  10:34            12,705 LAB.ipynb
09-03-2021  12:56             3,483 LabTAT.csv
               8 File(s)        108,674 bytes
               3 Dir(s)  182,177,349,632 bytes free

In [54]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns

In [3]:
form=pd.read_csv('Costomer+OrderForm.csv')

In [31]:
form.head(5)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [38]:
x=pd.crosstab(form['Phillippines'],form['Indonesia']) 
print(x)

Indonesia     Defective  Error Free
Phillippines
Defective             2          27
Error Free           31         240

In [6]:
y=pd.crosstab(form['Malta'],form['India']) 
y

India       Defective  Error Free
Malta
Defective           0          31
Error Free         20         249

In [45]:
cust_dummy = pd.get_dummies(form['Phillippines'])
cust_dummy.columns ='Def_Phil','Err_Phil'
cust_ordform = pd.concat([form,cust_dummy],axis=1)
cust_ordform = cust_ordform.drop(['Phillippines','Def_Phil'],axis=1)

In [46]:
cust_dummy = pd.get_dummies(cust_ordform['Indonesia'])
cust_dummy.columns ='Def_Indo','Err_Indo'
cust_ordform = pd.concat((cust_ordform,cust_dummy),axis=1)
cust_ordform = cust_ordform.drop(['Indonesia','Def_Indo'],axis=1)

In [47]:
cust_dummy = pd.get_dummies(cust_ordform['Malta'])
cust_dummy.columns ='Def_Malta','Err_Malta'
cust_ordform = pd.concat((cust_ordform,cust_dummy),axis=1)
cust_ordform = cust_ordform.drop(['Malta','Def_Malta'],axis=1)

In [49]:
cust_dummy = pd.get_dummies(cust_ordform['India'])
cust_dummy.columns ='Def_Ind','Err_Ind'
cust_ordform = pd.concat((cust_ordform,cust_dummy),axis=1)
cust_ordform = cust_ordform.drop(['India','Def_Ind'],axis=1)

In [50]:
cust_ordform.columns = 'Phillippines','Indonesia','Malta','India'

In [52]:
count1=form["Phillippines"].value_counts()     #counting the value of Discrete Categorical Data(no error and defective)
count2=form["Indonesia"].value_counts()        #counting the value of Discrete Categorical Data(no error and defective)
count3=form["Malta"].value_counts()
count4=form["India"].value_counts()
count={"Phillipines":count1, "Indonesia":count2, "Malta":count3, "India":count4} #making dictionary of all counts
count_new=pd.DataFrame(count)

Applying chi-square test

In [56]:
Chisquares_results=stats.chi2_contingency(count_new)
Chisquares_results

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [58]:
Chisquare=[['', 'Test statistics', 'p value'], ['sample', Chisquares_results[0], Chisquares_results[1]]]  
u = Chisquare[1]
u

['sample', 3.858960685820355, 0.2771020991233135]

In [59]:
print(f'As P Value for comparing Phillipines, Indonesia, Malta, India is :{u[2]}, which is greater than 0.05.\nHence we conclude Ho fails to accept.')

As P Value for comparing Phillipines, Indonesia, Malta, India is :0.2771020991233135, which is greater than 0.05.
Hence we conclude Ho fails to accept.