In [1]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 6E82-34BE

 Directory of C:\Users\KUMAR SANU\Assignment\Hypothesis Testing

20-03-2021  16:40    <DIR>          .
20-03-2021  16:40    <DIR>          ..
11-03-2021  17:54    <DIR>          .ipynb_checkpoints
10-03-2021  11:07            20,409 Buyer ratio.ipynb
09-03-2021  09:31                87 BuyerRatio.csv
09-03-2021  09:31            13,423 Costomer+OrderForm.csv
11-03-2021  19:24            14,834 Customer+order form.ipynb
09-03-2021  10:48               523 Cutlets.csv
09-03-2021  12:52            30,939 Cutlets.mtw.ipynb
20-03-2021  16:40            11,665 LAB.ipynb
09-03-2021  12:56             3,483 LabTAT.csv
               8 File(s)         95,363 bytes
               3 Dir(s)  182,141,599,744 bytes free

In [3]:
lab=pd.read_csv('LabTAT.csv')

In [4]:
lab.shape

(120, 4)

In [5]:
type(lab)

pandas.core.frame.DataFrame

In [6]:
lab.head(10)

   Laboratory1  Laboratory2  Laboratory3  Laboratory4
0       185.35       165.53       176.70       166.13
1       170.49       185.91       198.45       160.79
2       192.77       194.92       201.23       185.18
3       177.33       183.00       199.61       176.42
4       193.41       169.57       204.63       152.60
5       179.45       197.00       181.51       161.12
6       191.37       166.36       214.21       154.02
7       166.81       169.60       183.43       163.25
8       158.81       175.36       191.60       152.79
9       165.88       198.68       208.43       161.98

In [7]:
lab.corr()

             Laboratory1  Laboratory2  Laboratory3  Laboratory4
Laboratory1     1.000000    -0.126798     0.107501     0.092414
Laboratory2    -0.126798     1.000000    -0.065967     0.062120
Laboratory3     0.107501    -0.065967     1.000000    -0.125211
Laboratory4     0.092414     0.062120    -0.125211     1.000000

In [8]:
lab.mean()

Laboratory1    178.361583
Laboratory2    178.902917
Laboratory3    199.913250
Laboratory4    163.682750
dtype: float64

In [9]:
np.random.seed(60)
labA=stats.poisson.rvs(loc=0,mu=178.4,size=120)
labA.mean()

179.04166666666666

In [10]:
np.random.seed(60)
labB=stats.poisson.rvs(loc=0,mu=178.9,size=120)
labB.mean()

179.5

In [11]:
np.random.seed(60)
labC=stats.poisson.rvs(loc=0,mu=199.9,size=120)
labC.mean()

200.53333333333333

In [12]:
np.random.seed(60)
labD=stats.poisson.rvs(loc=0,mu=163.7,size=120)
labD.mean()

164.3

In [24]:
_,p_value1=stats.ttest_ind(a=labA,b=labB,equal_var=True)
p_value1

0.7834167005851658

In [26]:
_,p_value2=stats.ttest_ind(a=labC,b=labD,equal_var=True)
p_value2

7.313570527233422e-58

In [29]:
if p_value1  < 0.05:
    print("we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

In [31]:
if(p_value1 + p_value2 < 0.05):
    print("we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis